<%- include ('partials/head') %>
  </head>

  <body>
    <%- include ('partials/header') %>

      <div class="container-fluid">
        <h5 class="text-center"><a class="btn btn-primary" href="/panel">Volver</a></h5>

        <div class="row">
          <div>
            <table id="tablaRows" class="table table-striped table-responsible">
              <thead>
                <tr>
                  <td>CentroL</td>
                  <td>CentroC</td>
                  <td>Mes</td>
                  <td>CMF subido</td>               
                  <td>Estado</td>               
                  <td>Fecha</td>               
                </tr>
              </thead>
              
              <tbody>
                <% if (cmfs) { %>
                  <% for(var i=0; i < cmfs.length; i++) { %>
                    <tr>
                      <td>
                        <%= cmfs[i].centro %>
                      </td>
                      <td>
                        <%= cmfs[i].centroCmf %>
                      </td>
                      <td>
                        <%= cmfs[i].mes %>
                      </td>
                      <td>
                        <%= cmfs[i].cmf %>
                      </td>
                      <td>
                        <%= cmfs[i].estado %>
                      </td>
                      <td>
                        <%= fechaLog(cmfs[i].fecha) %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </tbody>
            </table>
          </div>
          <div id="contenedorForm"></div>
        </div>
      </div>
      <%- include ('partials/footer') %>
      
        <script src="js/tblUtils.js"></script>
       <!--  <script src="js/funcionesTbl.js"></script> -->

        
  </body>